BIND_HOST=127.0.0.1
PORT=8392
BASE_DOMAIN=be-stesy.cloud
LARAVEL_INTERNAL_URL=https://be-stesy.cloud/api/internal/cloud-web/validate
BRIDGE_SECRET=
ALLOWED_CIDRS=10.8.0.0/24
SESSION_IDLE_MS=1800000
SESSION_ABSOLUTE_MS=28800000
CONNECT_TIMEOUT_MS=10000
UPSTREAM_IDLE_TIMEOUT_MS=300000
CONNECT_RATE_LIMIT=20
CONNECT_RATE_WINDOW_MS=60000
CLOUD_BEACON_URL=https://be-stesy.cloud/cloud-ssh
